<% provide(:title, 'Home') %>

<span id="shutdown-announcement" class="hide">Passiton shut down in July 2017. All account data has been removed. Going forward, this site will only be kept as memory. Thanks for using us!</span>

<div class="jumbotron jumbotron-home">
   <div class="color-overlay">
    <div class="container">
      <h1>Share context</h1>
      <p>Share emails between teams and get up to speed in no time</p>
      <div class="row">
        <% if signed_in? %>
          <%= link_to "See context", authorisations_path, :class => 'btn btn-primary btn-lg' %>
        <% else %>
          <%= link_to "Get started", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="cover">
  <div class="container">
    <div class="row centered">
      <h1 class="centered">Sharing context has never been easier</h1>
      <p class="centered lead">Select a teammate, pick the context, et voilà.
        <br>No more chasing or lengthy handoffs.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail thumbnail-home thumbnail-red">
          <span class="glyphicon glyphicon-heart icon-marketing" aria-hidden="true"></span>
          <div class="caption caption-home">
            <h3>Get the highlights</h3>
            <p>Spot important threads, stakeholders and documents in<br>
              our Highlights tab</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail thumbnail-home thumbnail-yellow">
          <span class="glyphicon glyphicon-search icon-marketing" aria-hidden="true"></span>
          <div class="caption caption-home">
            <h3>Never lose anything</h3>
            <p>One place to keep all emails and documents,
              synced-up<br> and searchable</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail thumbnail-home thumbnail-dark-blue">
          <span class="glyphicon glyphicon-signal icon-marketing" aria-hidden="true"></span>
          <div class="caption caption-home">
            <h3>Don't miss a beat</h3>
            <p>Get context in a few clicks even when your teammate<br> is on holiday</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover cover-grey-gradient">
  <div class="container">
    <div class="row centered">
      <h1>How it works</h1>
      <p class="centered lead">Passiton connects to your Gmail inbox to share<br>
        specific emails with people you trust</p>
      <div class="col-md-4">
        <h2 class="">Step 1</h2>
        <span class="glyphicon glyphicon-question-sign icon-marketing" aria-hidden="true"></span>
        <p>Decide if you want to<br>give or get context</p>
      </div>
      <div class="col-md-4">
        <h2>Step 2</h2>
        <span class="glyphicon glyphicon-eye-open icon-marketing" aria-hidden="true"></span>
        <p>Pick a teammate and<br>the context needed</p>
      </div>
      <div class="col-md-4">
        <h2>Step 3</h2>
        <span class="glyphicon glyphicon-ok-circle icon-marketing" aria-hidden="true"></span>
        <p>View, approve, deny or<br>revoke requests</p>
      </div>
    </div>
    <hr>
    <div class="row centered">
      <p>
        <%= link_to "Give context", giving_authorisations_path, :class => 'btn btn-default btn-lg' %>
        <%= link_to "Get context", authorisation_request_path, :class => 'btn btn-default btn-lg' %>
      </p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
