<h1>Context revoked</h1>
<p>
<% if @authorisation.granter.is_managed? %><%= @authorisation.requester.full_identity %> on behalf of <% end %><%= @authorisation.granter.full_identity %> has decided to stop sharing their emails on "<%= @authorisation.scope %>".
</p>
<p>
	This means that you can no longer see their emails. If you have any questions, please contact <% if @authorisation.granter.is_managed? %><%= @authorisation.requester.first_name %> or <% end %><%= @authorisation.granter.first_name %>.
</p>
<%= render partial: 'boilerplate/email_footer' %>
