<h1>Context denied</h1>
<p>
<% if @authorisation.granter.is_managed? %><%= @authorisation.requester.full_identity %> on behalf of <% end %><%= @authorisation.granter.full_identity %> has decided not to share emails
related to "<%= @authorisation.scope %>".
</p>
<p>
  If you have any questions, please contact <% if @authorisation.granter.is_managed? %><%= @authorisation.requester.first_name %> or <% end %><%= @authorisation.granter.first_name %>.
</p>
<%= render partial: 'boilerplate/email_footer' %>
