<tr>
	<td><%= authorisation.created_at.strftime('%d/%m/%Y %k:%M') %></td>
	<td><%= authorisation.scope %></td>
	<td><%= link_to authorisation.requester.email + (authorisation.requester.guest ? ' (guest)' : ''), admin_user_path(authorisation.requester) %></td>
	<td><%= link_to authorisation.granter.email + (authorisation.granter.guest ? ' (guest)' : ''), admin_user_path(authorisation.granter) %></td>
	<td><%= authorisation.status %></td>
	<td><%= authorisation.synced ? 'Yes' : 'No' %></td>
</tr>