<h2><%= file_type %></h2>
<% attachments.each do |attachment| %>
  <% if !attachment.inline %>
    <% if !attachment.filename.empty?  %>
      <div class="row well well-sm well-thin">
        <div class="col-sm-1">
          <span class="<%= glyphicon_file(attachment.type) %>" aria-hidden="true"></span>
        </div>
        <div class="col-sm-1">
            <strong class="visible-xs-inline">Date:</strong>
            <%= attachment.email_date.strftime("%d %b") %>
        </div>
        <div class="col-sm-3">
            <strong class="visible-xs-inline">Sender:</strong>
            SENDER
        </div>
        <div class="col-sm-5">
            <strong class="visible-xs-inline">Name:</strong>
            <a href="<%= attachment_path(attachment) %>"><%= attachment.filename %></a>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
