<tr>
	<td><%= authorisation.granter.email %></td>
	<td>
		<% if authorisation.synced %>
			<%= authorisation.scope %>
		<% else %>
			<%= authorisation.scope + ' (still syncing)' %>
		<% end %>
	</td>
	<td><%= authorisation.status.capitalize %></td>
	<td>
		<% if authorisation.synced & authorisation.enabled %>
			<%= link_to 'view', authorisation_path(authorisation), class: 'btn btn-primary btn-xs' %>
		<% else %>
			<a href="" class="btn btn-primary btn-xs" role="button" disabled="disabled">view</a>
		<% end %>
	</td>
</tr>
