<tr>
	<td>
    <% if authorisation.synced & authorisation.enabled %>
      <a href="<%= authorisation_path(authorisation) %>" class="btn btn-primary active" role="button">
        View
      </a>
    <% else %>
    <a href="" class="btn btn-primary active" role="button" disabled="disabled">
        View
    </a>
    <% end %>
  </td>
  <td><%= authorisation.granter.email %></td>
	<td>
		<% if authorisation.synced %>
			<%= authorisation.scope %>
		<% else %>
			<%= authorisation.scope + ' (still syncing)' %>
		<% end %>
	</td>
	<td><%= authorisation.enabled ? 'Enabled' : 'Pending' %></td>
</tr>
