<tr>
	<td><%= authorisation.granter.email %></td>
	<td>
		<% if authorisation.synced %>
			<%= authorisation.scope %>
		<% elsif !authorisation.enabled %>
			<%= authorisation.scope %>
		<% else %>
			<%= authorisation.scope + ' (still syncing)' %>
		<% end %>
	</td>
	<td><%= authorisation.status.capitalize %></td>
	<td>
		<% if authorisation.synced & authorisation.enabled %>
			<%= link_to 'view', authorisation_path(authorisation), class: 'btn btn-block btn-default' %>
		<% else %>
			<a href="" class="btn btn-block btn-default" role="button" disabled="disabled">View</a>
		<% end %>
	</td>
</tr>
