<tr>
	<td class="vertical-centered"><%= authorisation.created_at.strftime("%d/%m/%y") %></td>
	<td class="vertical-centered"><%= authorisation.granter.email %></td>
	<td class="vertical-centered">
		<% if authorisation.synced %>
			<%= authorisation.scope %>
		<% elsif !authorisation.enabled %>
			<%= authorisation.scope %>
		<% else %>
			<%= authorisation.scope + ' (still syncing)' %>
		<% end %>
	</td>
	<td class="vertical-centered"><%= authorisation.status.capitalize %></td>
	<td class="vertical-centered">
		<% if authorisation.synced & authorisation.enabled %>
			<%= link_to 'View', authorisation_path(authorisation), class: 'btn btn-block btn-default' %>
		<% else %>
			<a href="" class="btn btn-block btn-default" role="button" disabled="disabled">View</a>
		<% end %>
	</td>
</tr>
