<div class="panel panel-white">
	<div class="row authorisation-block <%= (!authorisation.synced or !authorisation.enabled) ? 'refresh-authorisation-status' : '' %>">
		<div class="col-sm-6 col-xs-12">
			<span class="person">With <span class="name"><%= authorisation.granter.email %></span></span>
			<span class="date"><%= authorisation.created_at.strftime("%d/%m/%y") + ' (' + distance_of_time_in_words(authorisation.created_at, Time.now) + ' ago)' %></span>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="status-disc status-disc-<%= status_meaning(authorisation.status) %>" data-toggle="tooltip" data-placement="bottom" title="<%= authorisation.status.capitalize %>"></div>
			<strong><span class="scope">
				<% if authorisation.synced & authorisation.enabled %>
				<%= link_to authorisation.scope, authorisation_path(authorisation.token) %>
				<% else %>
					<%= authorisation.scope %>
				<% end %>
			</span></strong>
			<span class="count">
				<% if authorisation.synced & authorisation.enabled %>
					<%= authorisation.email_threads.count %>
					<span class="glyphicon glyphicon-list"></span>
				<% end %>
			<span>
			<span class="user-actions pull-right">
				<% if authorisation.synced & authorisation.enabled %>
					<%= link_to 'view', authorisation_path(authorisation.token), class: 'btn btn-xs btn-default' %>
				<% elsif authorisation.enabled %>
					<%= image_tag 'ajax-loader.gif', alt: 'Loading...', title: 'Loading...' %>
				<% end %>
			</span>
		</div>
	</div>
</div>
