<tr>
	<td class="vertical-centered"><%= requested_authorisation.created_at.strftime("%d/%m/%y") %></td>
	<td class="vertical-centered"><%= requested_authorisation.requester.full_identity %></td>
	<td class="vertical-centered"><%= requested_authorisation.scope %><br/></td>
	<td class="vertical-centered"><%= requested_authorisation.status.capitalize %></td>
	<td class="vertical-centered">
		<% requested_authorisation.possible_statuses.each do |possible_status| %>
				<%= simple_form_for requested_authorisation, :url => authorisation_path(requested_authorisation)  do |f| %>
					<%= f.input :status, as: :hidden, :input_html => { value: possible_status } %>
					<% if possible_status == 'granted' %>
						<%= f.button :submit, "grant", :class => 'btn btn-primary btn-block btn-space' %>
					<% elsif possible_status == 'revoked' %>
						<%= f.button :submit, "revoke", :class => 'btn btn-warning btn-block btn-space' %>
					<% elsif possible_status == 'denied' %>
						<%= f.button :submit, "deny", :class => 'btn btn-danger btn-block btn-space' %>
					<% end %>
				<% end %>
		<% end %>
	</td>
</tr>
