<div class="row timeline">

<!-- Modal launcher -->
<a class="modal-link" data-toggle="modal" data-target="#thread-<%= thread.id %>" href="<%= thread_url(thread) %>">
  <span></span>
</a>

<!-- Modal (loaded by ajax) -->
<div class="modal fade" id="thread-<%= thread.id %>" tabindex="-1" role="dialog" aria-labelledby="Thread">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

  <div class="col-md-2">
    <p>
      <% if thread.first_email_date.strftime("%d/%m/%y") == thread.last_email_date.strftime("%d/%m/%y") %>
      <%= thread.first_email_date.strftime("%d %b %y") %>
      <% else %>
      <%= thread.last_email_date.strftime("%d %b %y") %> -<br>
      <%= thread.first_email_date.strftime("%d %b %y") %> <br>
      (<%= (thread.last_email_date.jd - thread.first_email_date.jd).to_i %> days)
      <% end %>
    </p>
  </div>
  <div class="col-md-3">
    <p>
      <%= thread.subject %>
      <% if thread.email_messages.count > 1 %>
        (<%= thread.email_messages.count %>)
      <% end %>
    </p>
  </div>
  <div class="col-md-3">
    <ul class="no-bullet">
        <% thread.participants.each do |participant| %>
          <li>
            <%= participant.fullname %>
          <small>
            <%= participant.company %>
          </small>
          </li>
        <% end %>
    </ul>
  </div>
  <div class="col-md-4"> <!-- Merge last two columns-->
    <div class="col-md-1">
    <% if !thread.message_attachments.empty? %>
        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        <p>(<%= thread.message_attachments.not_inline.count %>)</p>
    <% end %>
    </div>
    <div class="col-md-11">
      <% if thread.message_attachments.not_inline.count > 3 %>
        <button class="glyphicon glyphicon-collapse-down attachment" type="button" data-toggle="collapse" data-target="#collapse-<%= thread.id %>" aria-expanded="false" aria-controls="collapse-<%= thread.id %>">
        </button>
        <!-- Attachment collapse -->
        <div class="collapse" id="collapse-<%= thread.id %>">
          <div>
            <ul class="no-bullet">
              <%= render partial: 'authorisations/attachment', collection: thread.message_attachments %>
            </ul>
          </div>
        </div>
      <% elsif thread.message_attachments.not_inline.count > 0 %>
        <ul class="no-bullet">
          <%= render partial: 'authorisations/attachment', collection: thread.message_attachments %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

