<div class="row timeline">

  <!-- Modal launcher -->
  <a class="modal-link" data-toggle="modal" data-target="#thread-<%= thread.id %>" href="<%= thread_url(thread) %>">
    <span></span>
  </a>

  <!-- Modal (loaded by ajax) -->
  <div class="modal fade" id="thread-<%= thread.id %>" tabindex="-1" role="dialog" aria-labelledby="Thread">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-3">
      <form action="<%= threads_update_tags_path %>" method="post" data-remote="true" class="form-highlight">
        <input type="hidden" name="thread_id" value="<%= thread.id %>">
        <div class="checkbox hide">
          <label><input type="checkbox" name="tag_highlight" <%= 'checked="checked"' if thread.is_highlighted? %> class="checkbox-highlight" id="checkbox-higlight-<%= thread.id %>">&nbsp;<%= thread.id %></label>
        </div>
        <a href="" data-action="toggle-checkbox" data-target="checkbox-higlight-<%= thread.id %>">
          <span class="glyphicon glyphicon-lg glyphicon-pushpin <%= thread.is_highlighted? ? 'active' : 'inactive' %>" aria-hidden="true" data-role="checkbox-indicator"></span>
        </a>
      </form>
    </div>
    <div class="col-md-9">
      <p>
        <% if thread.first_email_date.strftime("%d/%m/%y") == thread.last_email_date.strftime("%d/%m/%y") %>
        <%= thread.first_email_date.strftime("%d %b %y") %>
        <% else %>
        <%= thread.last_email_date.strftime("%d %b %y") %>
        <br>
        <small>(<%= (thread.last_email_date.jd - thread.first_email_date.jd).to_i %> days)</small>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <p>
      <b><%= thread.subject %></b>
      <% if thread.email_messages.count > 1 %>
        (<%= thread.email_messages.count %>)
      <% end %>
    </p>
  </div>
  <div class="col-md-3">
    <p>
      <% if thread.email_messages.count == 1 %>
        <%= thread.participants_with_delivery('from').first.fullname %>
        <small> (<%= thread.participants_with_delivery('from').first.company %>)</small>
      <% else %>
        <% thread.participants_with_delivery('from').each_with_index do |senders, i| %>
          <% if i < thread.participants_with_delivery('from').count - 1 %>
            <%= senders.first_name %><small> (<%= senders.company %>)</small>,
          <% else i == thread.participants_with_delivery('from').count - 1 %>
            <%= senders.first_name %><small> (<%= senders.company %>)</small>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4"> <!-- Merge last two columns-->
    <div class="col-md-1">
    <% if !thread.message_attachments.empty? %>
        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
    <% end %>
    </div>
    <div class="col-md-11">
      <% if thread.message_attachments.not_inline.count > 2 %>
        <button class="btn btn-default btn-xs attachment" style="vertical-align: middle" type="button" data-toggle="collapse" data-target="#collapse-<%= thread.id %>" aria-expanded="false" aria-controls="collapse-<%= thread.id %>">
          <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
          <%= thread.message_attachments.not_inline.count %>
        </button>
        <!-- Attachment collapse -->
        <div class="collapse" id="collapse-<%= thread.id %>">
          <div>
            <ul class="no-bullet">
              <%= render partial: 'authorisations/attachment', collection: thread.message_attachments %>
            </ul>
          </div>
        </div>
      <% elsif thread.message_attachments.not_inline.count > 0 %>
        <ul class="no-bullet">
          <%= render partial: 'authorisations/attachment', collection: thread.message_attachments %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

