<% if !(@viewer_type == 'requester' and thread.is_hidden?) %>
  <div class="panel panel-white panel-tight panel-clickable">
    <div class="row timeline">

      <!-- Thread emails launcher -->
      <a class="thread-action" data-role="thread-email-link" data-path="<%= thread_url(thread) %>">
        <span></span>
      </a>

      <div class="col-xs-1 col-sm-1 col-md-1">
        <% if @viewer_type == 'requester' %>
          <form action="<%= threads_update_tags_path %>" method="post" data-remote="true" class="form-highlight">
            <input type="hidden" name="thread_id" value="<%= thread.id %>">
            <input type="hidden" name="tag_type" value="highlight">
            <div class="checkbox hide">
              <label><input type="checkbox" name="tag_highlight" <%= 'checked="checked"' if thread.is_highlighted? %> class="checkbox-highlight" id="checkbox-highlight-<%= thread.id %>">&nbsp;<%= thread.id %></label>
            </div>
            <a href="" data-action="toggle-checkbox" data-target="#checkbox-highlight-<%= thread.id %>">
              <span class="glyphicon glyphicon-lg glyphicon-pushpin glyphicon-click <%= thread.is_highlighted? ? 'active' : 'inactive' %>" aria-hidden="true" data-role="checkbox-indicator" data-toggle="tooltip" data-placement="right" title="Tag a thread as highlight to easily find it again"></span>
            </a>
          </form>
        <% elsif @viewer_type == 'granter' %>
          <form action="<%= threads_update_tags_path %>" method="post" data-remote="true" class="form-highlight">
            <input type="hidden" name="thread_id" value="<%= thread.id %>">
            <input type="hidden" name="tag_type" value="hide">
            <div class="checkbox hide">
              <label><input type="checkbox" name="tag_hide" <%= 'checked="checked"' if thread.is_hidden? %> class="checkbox-hide" id="checkbox-hide-<%= thread.id %>">&nbsp;<%= thread.id %></label>
            </div>
            <a href="" data-action="toggle-checkbox" data-target="#checkbox-hide-<%= thread.id %>">
              <span class="glyphicon glyphicon-lg glyphicon-remove glyphicon-click <%= thread.is_hidden? ? 'active' : 'inactive' %>" aria-hidden="true" data-role="checkbox-indicator" data-toggle="tooltip" data-placement="right" title="Hide from requester"></span>
            </a>
          </form>
        <% end %>
        <% if !thread.message_attachments.not_inline.empty? %>
          <a data-role="trigger-toggle-display" data-target="#attachments-thread-<%= thread.id %>">
            <span class="glyphicon glyphicon-paperclip glyphicon-click" aria-hidden="true"></span>
          </a>
        <% end %>
      </div>
      <div class="col-xs-11 col-sm-11 col-md-11">
        <div class="row">
          <div class="col-xs-9 col-sm-9 col-md-9">
            <p>
              <% thread.readable_labels.each do |label| %>
                <%= glyphicon_label(label).html_safe %>
              <% end %>
              <b><%= thread.subject %></b>
              <% if thread.email_count > 1 %>
                <span class="badge"><%= thread.email_count %></span>
              <% end %>
            </p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <p class="text-right"><%= thread.latest_email_date.strftime("%d %b") %></p>
          </div>
        </div>
        <p>
          <%= thread.unique_senders.map { |p| p.first_name + ' ' + p.last_name + ' <small class="hidden-xs">(' + p.company + ')</small>'}.join(', ').html_safe %>
          <br>
          <small class="no-ellipsis-mobile"><%= thread.snippet.html_safe %></small>
        </p>
        <% if !thread.message_attachments.not_inline.empty? %>
          <div id="attachments-thread-<%= thread.id %>" class="hide attachment">
            <ul class="no-bullet">
              <%= render partial: 'authorisations/attachment', collection: thread.message_attachments.not_inline %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
