<% provide(:title, 'Give context') %>
<div class="row">
  <div class="col-sm-8"><h1>Give context</h1></div>
  <div class="col-sm-4">
    <div class="pull-right">
      <%= link_to 'Give context', giving_authorisations_path, class: 'btn btn-primary h1-btn' %>
    </div>
  </div>
</div>
<p class="lead">
  Approve, deny or revoke requests for context from your teammates.
</p>

<% if @authorisations.any? %>
	<div id="results" data-target="<%= authorisation_grant_path %>">
    <%= render partial: 'authorisations/requested_authorisation', collection: @authorisations %>
  </div>

<% else %>
  <div class="row">
    <div class="panel panel-white text-center col-sm-4 col-sm-offset-1">
      <p class="lead">Keep asking</p>
      <p>Ask a teammate to see<br> specific emails</p>
      <%= link_to 'Get context', authorisation_request_path, class: 'btn btn-primary center-block' %>
    </div>
    <div class="panel panel-white text-center col-sm-4 col-sm-offset-1">
      <p class="lead">Start sharing</p>
      <p>Let a teammate see<br> specific emails</p>
      <%= link_to 'Give context', giving_authorisations_path, class: 'btn btn-primary center-block' %>
    </div>
  </div>

<% end %>
