<% if @authorisations.any? %>
<div class="row">
  <div class="col-sm-12">
    <h1>Get context</h1>
  <p class="lead">
    Context you've requested from your teammates. All in one place.
    <%= link_to 'Get more context', authorisation_request_path, class: 'btn btn-primary pull-right' %>
  </p>
  </div>
</div>
<hr>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    	<table class="table table-hover table-responsive" id="results" data-target="<%= authorisations_path %>">
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>About</th>
          <th>State</th>
          <th></th>
        </tr>
    		<%= render partial: 'authorisations/authorisation', collection: @authorisations %>
    	</table>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="col-sm-12">
    <h1>Hi <%= current_user.first_name %>, welcome to Passiton</h1>
  <p class="lead">
    Let's get you started on your first request
  </p>
  </div>
</div>
<hr>
  <div class="row centered">
    <div class="col-md-4">
      <h2 class="">Step 1</h2>
      <span class="glyphicon glyphicon-eye-open glyphicon-xl active" aria-hidden="true"></span>
      <p>Ask to see emails on a certain <br>topic or relationship</p>
    </div>
    <div class="col-md-4">
      <h2>Step 2</h2>
      <span class="glyphicon glyphicon-question-sign glyphicon-xl glyphicon-warning" aria-hidden="true"></span>
      <p>Your teammate will get an email to <br>approve your request</p>
    </div>
    <div class="col-md-4">
      <h2>Step 3</h2>
      <span class="glyphicon glyphicon-ok-circle glyphicon-xl glyphicon-success" aria-hidden="true"></span>
      <p>Once approved, you can see the<br> emails until access is revoked</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to 'Ask for context', authorisation_request_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
