<% provide(:title, 'Get context') %>
<% if @authorisations.any? %>
  <div class="row">
    <div class="col-sm-8"><h1>Get context</h1></div>
    <div class="col-sm-4">
      <div class="pull-right">
        <%= link_to 'Get context', authorisation_request_path, class: 'btn btn-primary h1-btn' %>
      </div>
    </div>
  </div>
  <p class="lead">
    Context you've requested from your teammates. All in one place.
  </p>
  <div id="results" data-target="<%= authorisations_path %>">
    <%= render partial: 'authorisations/authorisation', collection: @authorisations %>
  </div>

<% else %>

  <div class="row">
    <div class="col-sm-12">
      <h1>Hi <%= current_user.first_name %>, welcome to Passiton</h1>
      <p class="lead">
        Passiton lets you share context with teammates. Let's get you started.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="panel panel-white text-center col-sm-4 col-sm-offset-1">
      <p class="lead">It's me time</p>
      <p>Ask a teammate to see<br> specific emails</p>
      <%= link_to 'Get context', authorisation_request_path, class: 'btn btn-primary center-block' %>
    </div>
    <div class="panel panel-white text-center col-sm-4 col-sm-offset-2">
      <p class="lead">I'm feeling generous</p>
      <p>Let your teammate see<br> specific emails</p>
      <%= link_to 'Give context', giving_authorisations_path, class: 'btn btn-primary center-block' %>
    </div>
  </div>

<% end %>
