<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Hi <%= current_user.first_name %>, welcome to Passiton</h1>
    </div>
    <div class="col-md-3">
      <h1><%= link_to 'Ask for new access', authorisation_request_path, class: 'btn btn-primary pull-right' %></h1>
    </div>
  </div>
  <hr>

  <% if @authorisations.any? %>
    <div class="row">
      <div class="col-md-12">
        <h2>Email access you requested</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<table class="table table-hover table-responsive" id="results" data-target="<%= authorisations_path %>">
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>About</th>
            <th>State</th>
            <th></th>
          </tr>
      		<%= render partial: 'authorisations/authorisation', collection: @authorisations %>
      	</table>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <p>Passiton enables you to see easily others' people emails. Pick a topic or contact and we'll do the rest.
          It's meant to help you ramp up on a topic or relationship that's new to you but not to others.
          Get started now by <%= link_to 'requesting access' %> to someone's email.</p>
      </div>
    </div>
    <div class="row centered">
      <h1>How it works</h1>
      <div class="col-md-4">
        <h2 class="">Step 1</h2>
        <span class="glyphicon glyphicon-eye-open glyphicon-xl active" aria-hidden="true"></span>
        <p>Request to see emails on a specific <br>topic or relationship</p>
      </div>
      <div class="col-md-4">
        <h2>Step 2</h2>
        <span class="glyphicon glyphicon-question-sign glyphicon-xl glyphicon-warning" aria-hidden="true"></span>
        <p>Your colleagues will get an email to <br>approve your request</p>
      </div>
      <div class="col-md-4">
        <h2>Step 3</h2>
        <span class="glyphicon glyphicon-ok-circle glyphicon-xl glyphicon-success" aria-hidden="true"></span>
        <p>Once approved, you can see requested<br> emails until access is revoked</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to 'Ask for new access', authorisation_request_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
</div>
