<h1>Ask the authorisation from <%= @granter.email %></h1>

<%= simple_form_for @authorisation, :url => authorisations_path  do |f| %>
	<%= f.input :scope, required: true, autofocus: true %>
	<%= f.input :granter_id, as: :hidden %>
	<%= f.button :submit, "Request access", :class => 'pop col-xs-offset-3' %>
<% end %>