<div class="row">
  <div class="col-sm-12">
    <h1>Get context</h1>
    <p class="lead">
      Ask a teammate to share their emails.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8" >
    <%= simple_form_for @authorisation, :url => authorisations_path  do |f| %>
    	<%= f.input :granter_email, label: 'Teammate', placeholder: 'Enter the email of your teammate', required: true, autofocus: true %>
    	<%= f.input :scope, label:'Context', placeholder: 'Same as a Gmail or Google search (Apple, steve@apple.com...)' %>
    	<%= f.input :description, label: 'Personal message', placeholder: 'Hey John, I\'d like to get up to speed on our client' %>
      <div class="row">
        <div class="col-xs-9">
        <p>Passiton will send an email to your teammate to request context.
          <br>You will receive an email when your teammate has approved or denied your request.</p>
        </div>
        <div class="col-xs-3">
      	 <%= f.button :submit, "Send it", :class => 'btn btn-primary pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
