<div class="container">
  <div class="row heading">
    <div class="col-md-9">
      <dl class="dl-horizontal no-margin">
          <dt><p>You are watching:</p></dt>
          <dd><p><%= @authorisation.scope %></p></dd>
          <dt><p>Granter:</p></dt>
          <dd><p><%= @authorisation.granter.first_name %> <%= @authorisation.granter.last_name %>
            (<%= @authorisation.granter.email %>)</p></dd>
      </dl>
    </div>
    <div class="col-md-3">
      <%= link_to 'Ask for new access', authorisation_request_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <% [{target: 'highlight', display: 'Highlight'}, {target: 'internal', display: 'Internal'},{target: 'all', display: 'All'}].each do |tab| %>
        <li role="presentation" <%= 'class=active' if @tab_filter == tab[:target] %>>
          <a href="<%= authorisation_path(@authorisation, tab_filter: tab[:target]) %>"><%= tab[:display] %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <% if @threads.any? %>
    	<%= render partial: 'authorisations/thread', collection: @threads %>
    <% end %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @threads %>
  </div>
</div>
