<div class="container-fluid">
  <div class="panel panel-white">
    <div class="row container-no-scroll">
      <div class="col-sm-9 col-xs-9">
        <dl class="dl-horizontal no-margin">
            <dt><p>Context:</p></dt>
            <dd><p><%= @authorisation.scope %></p></dd>
            <% if @viewer_type == 'requester' %>
              <dt><p>Teammate:</p></dt>
              <dd><p><%= @authorisation.granter.first_name %> <%= @authorisation.granter.last_name %>
                (<%= @authorisation.granter.email %>)</p></dd>
            <% else %>
              <dt><p>Teammate:</p></dt>
              <dd><p><%= @authorisation.requester.first_name %> <%= @authorisation.requester.last_name %>
                (<%= @authorisation.requester.email %>)</p></dd>
            <% end %>
        </dl>
      </div>
      <div class="col-sm-3 col-xs-3">
        <% if @viewer_type == 'requester' %>
          <%= link_to 'Ask for new access', authorisation_request_path, class: 'btn btn-primary pull-right' %>
        <% else %>
          <% @authorisation.possible_statuses.each do |possible_status| %>
            <%= simple_form_for @authorisation, :url => authorisation_path(@authorisation.token)  do |f| %>
              <%= f.input :status, as: :hidden, :input_html => { value: possible_status } %>
              <% if possible_status == 'granted' %>
                <%= f.button :submit, "Grant", :class => 'btn btn-primary pull-right' %>
              <% elsif possible_status == 'revoked' %>
                <%= f.button :submit, "Revoke", :class => 'btn btn-warning pull-right' %>
              <% elsif possible_status == 'denied' %>
                <%= f.button :submit, "Deny", :class => 'btn btn-danger pull-right' %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- To help see tabs on mobile -->
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-pills">
        <% [{target: 'highlight', display: 'Highlight'}, {target: 'internal', display: 'Internal'},{target: 'all', display: 'All'}].each do |tab| %>
          <li role="presentation" <%= 'class=active' if @tab_filter == tab[:target] %>>
            <a href="<%= authorisation_path(@authorisation.token, tab_filter: tab[:target]) %>"><%= tab[:display] %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row container-scroll">
    <div class="col-sm-2 hidden-xs">
      <div class="panel panel-white">
        <% if @viewer_type == 'requester' %>
          <form class="form-horizontal pull-right" method="get" action="<%= authorisation_path(@authorisation.token) %>">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search for..." value="<%= @search.scope if @search %>">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
          <hr/>
        <% end %>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" <%= 'class=active' if @tab_filter == 'authorisation_participants' %>>
            <a href="<%= authorisation_path(@authorisation.token, tab_filter: 'authorisation_participants') %>">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacts
            </a>
          </li>
          <li role="presentation" <%= 'class=active' if @tab_filter == 'authorisation_attachments' %>>
            <a href="<%= authorisation_path(@authorisation.token, tab_filter: 'authorisation_attachments') %>">
              <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Attachments
            </a>
          </li>
          <% [{target: 'highlight', display: 'Highlight'}, {target: 'internal', display: 'Internal'},{target: 'all', display: 'All'}].each do |tab| %>
            <li role="presentation" <%= 'class=active' if @tab_filter == tab[:target] %>>
              <a href="<%= authorisation_path(@authorisation.token, tab_filter: tab[:target]) %>">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= tab[:display] %>
              </a>
            </li>
          <% end %>
          <% @searches.each do |search| %>
            <li role="presentation" <%= 'class=active' if @search and @search.scope == search.scope %>>
              <a href="<%= authorisation_path(@authorisation.token, search: search.scope) %>">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <%= search.scope %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if @tab_filter == 'authorisation_participants' %>
      <div id="results" class="col-sm-10">
        <% if !@participants_from_scope.empty? %>
          <h2>Participants from the company</h2>
            <%= render partial: 'authorisations/participant', collection: @participants_from_scope %>
        <% end %>
        <h2>All participants to these discussions</h2>
        <table class="table">
          <%= render partial: 'authorisations/participant', collection: @authorisation.participants.uniq %>
        </table>
      </div>
    <% elsif @tab_filter == 'authorisation_attachments' %>
      <div id="results" class="col-sm-10">
        <% @attachments_grouped.each do |index, group| %>
          <%= render partial: 'authorisations/tab/attachment_tab', locals: { file_type: index, attachments: group } %>
        <% end %>
      </div>
    <% else %>
      <div id="results" class="col-sm-5">
        <% if @threads.any? %>
        	<%= render partial: 'authorisations/thread', collection: @threads %>
        <% end %>
      </div>

      <div id="emails" class="col-sm-5 hidden-xs">
      </div>
    <% end %>
  </div>

  <% if @threads %>
    <div id="infinite-scrolling">
      <%= will_paginate @threads %>
    </div>
  <% end %>
</div>
