<tr>
	<td><%= user.created_at.strftime('%d/%m/%Y %k:%M') %></td>
	<td><%= 'Yes' if user.guest %></td>
	<td><%= user.full_name %></td>
	<td><%= user.email %></td>
	<td><%= user.requested_authorisations.count %></td>
	<td><%= user.granted_authorisations.count %></td>
	<td>
		<% if user.is_managed? %>
			Managed by <%= link_to user.manager_delegation.manager.full_name, admin_user_path(user.manager_delegation.manager) %>
		<% elsif user.is_manager %>
			Manages <%= user.managed_delegations.active.count %> accounts
		<% end %>
	</td>
	<td><%= link_to 'View', admin_user_path(user) %></td>
</tr>