<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="site-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="top-navbar">
      <ul class="nav navbar-nav">
        <li class="brand-name"><%= link_to 'Passiton', root_path %>
        <span class="label label-info" id="label-beta">BETA</span>
        </li>
        <% if signed_in? %>
          <li><%= link_to "Get context", authorisations_path %></li>
          <li><%= link_to "Give context", authorisation_grant_path %></li>
          <% if current_user.is_manager %>
            <li><%= link_to "Manage your team", delegations_path %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if signed_in? %>
  	        <li><%= link_to "Log out", destroy_user_session_path, method: "delete", :class => 'btn btn-hollow' %></li>
  	    <% else %>
  	        <li class="list-button"><%= link_to "Connect", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-hollow' %></li>
  	    <% end %>
      </ul>
    </div>
  </div>
</nav>
