<!DOCTYPE html>
<html>
<head>
  <title>PassItOn | <%= yield(:title) %></title>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id= "page-top" class="index">

<%= render 'layouts/header' %>

<div class="<%= 'container' unless @container === false %>">
  <%= render 'layouts/alerts' %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

<script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'E8ZVd5Ht0dB3SS9E667oDJKiaqRjRf0hZqy2ggi3hxsH7xKIvDDmkvU8c2IlwnLZ'
    };
    (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/2643?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
    }(document, 'script'));
</script>

</body>
</html>
